﻿
<link href="~/Content/angular-material/angular-material.min.css" rel="stylesheet" />
<link href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc4/angular-material.css" rel="stylesheet" />
<link href="https://material.angularjs.org/1.1.0-rc4/docs.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="~/JS/Angular/CategoryService.js"></script>
<script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc4/angular-material.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="//assets.codepen.io/assets/common/stopExecutionOnTimeout.js?t=1"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<script>
    var app = angular.module('DialogsApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache']);

    app.controller('showdialogs', function ($scope, $mdDialog) {
        $scope.openFromLeft = function () {
            $mdDialog.show(
              $mdDialog.alert()
                .clickOutsideToClose(true)
                .title('Opening from the left')
                .textContent('Closing to the right!')
                .ariaLabel('Left to right demo')
                .ok('very well!')
                // You can specify either sting with query selector
                .openFrom('#left')
                // or an element
                .closeTo(angular.element(document.querySelector('#right')))
            );
        };

        $scope.openOffscreen = function () {
            $mdDialog.show(
              $mdDialog.alert()
                .clickOutsideToClose(true)
                .title('Opening from offscreen')
                .textContent('Closing to offscreen')
                .ariaLabel('Offscreen Demo')
                .ok('Amazing!')
                // Or you can specify the rect to do the transition from
                .openFrom({
                    top: -50,
                    width: 30,
                    height: 80
                })
                .closeTo({
                    left: 1500
                })
            );
        };
    });
</script>
<div ng-app="DialogsApp">
    <style>
        .edgePadding {
            padding-left: 25px;
            padding-right: 25px;
        }
    </style>


    <div ng-controller="showdialogs">
        <input type="button" value="get dialog" class="btn-info" ng-click="openFromLeft()"/>
        <button class="md-primary md-raised edgePadding" ng-click="openFromLeft()">
            <span class="ng-scope">
                Open From Top Left - Close Slide Down1
            </span>
        </button>
        <button class="md-primary md-raised edgePadding" ng-click="openOffscreen()">
            <span class="ng-scope">
                Open From Top Left - Close Slide Down2
            </span>
        </button>
    </div>

    <div layout="row" ng-cloak="" style="height: 300px" class="dialogdemoOpenFromCloseTo" ng-controller="showdialogs">

        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
            <span id="left">left</span>
        </div>

        <div layout="column" layout-align="center start" layout-padding="" flex="">
            <p class="inset">
                A dialog can specify its origin and target with <code>openFrom</code> and
                <code>closeTo</code> properties.

                The options showFrom and closeTo can be specified as a string [where internally
                querySelector( ) is used to perform the DOM element lookup],
                element or an Rect object [with top, left, width, height fields].
            </p>

            <div class="dialog-demo-content" layout="column" layout-align="center center" style="width: 100%">
                <button class="md-primary md-raised edgePadding" ng-click="openFromLeft()">
                    Open From Left - Close To Right
                </button>
                <button class="md-primary md-raised edgePadding" ng-click="openOffscreen()">
                    Open From Top Left - Close Slide Down
                </button>
            </div>

        </div>

        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
            <span id="right">right</span>
        </div>
    </div>
</div>


