﻿<!-- ko with: home -->
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">TO-DO</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    фывыфвфывфы вфывфывфывф
</div>
<div ng-app="app">
    <div ng-controller="getallcategories">
        <input type="hidden" ng-model='NewCategoryModel.Key' value="F918C365-D696-4333-9ABB-002B6866393A"/>
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input" type="text" id="simple1" ng-model='NewCategoryModel.Name' focus-me="shouldBeOpen" required=""/>
                <label class="mdl-textfield__label" for="simple1">Название...</label>
            </div>
        </form>
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input" type="text" id="sample3" ng-model='NewCategoryModel.Description' required=""/>
                <label class="mdl-textfield__label" for="sample3">Описание...</label>
            </div>
        </form>
        <form action="#">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                <input class="mdl-textfield__input" type="text" id="sample2" ng-model='NewCategoryModel.DateTime' required=""/>
                <label class="mdl-textfield__label" for="sample2">Дата...</label>
            </div>
        </form>
        <input type="button" class="" value="Save" ng-click="CreateNewCategory()"/>
        <hr/>
        <table class="table-striped">
            <tbody >
            <tr ng-repeat="ite in categories" class="text-info text-success">
                <td style="width: 30px">{{$index+1}}</td>
                <td style="width: 20%">{{ite.Name}}</td>
                <td style="width: 20%">{{ite.Key}}</td>
                <td style="width: 30%">{{ite.Description}}</td>
                <td style="width: 50px"><input type="button" class="btn btn-sm btn-danger" value="Del" ng-click="DeleteCategory(ite.Key)"/></td>
                <td style="width: 50px"><input type="button" class="btn btn-sm btn-info" value="Get" ng-click="GetCategoryById(ite.Key)"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="first-git-flow">
    <p>
        start develop flow
    </p>
</div>
<div ng-app="DialogsApp">
    <style>
        .edgePadding {
            padding-left: 25px;
            padding-right: 25px;
        }
    </style>


    <div ng-controller="showdialogs">
        <input type="button" value="get dialog" class="btn-info" ng-click="openFromLeft()"/>
        <button class="md-primary md-raised edgePadding" ng-click="openFromLeft()">
            <span class="ng-scope">
                Open From Top Left - Close Slide Down1
            </span>
        </button>
        <button class="md-primary md-raised edgePadding" ng-click="openOffscreen()">
            <span class="ng-scope">
                Open From Top Left - Close Slide Down2
            </span>
        </button>
    </div>

    <div  layout="row" ng-cloak="" style="height: 300px" class="dialogdemoOpenFromCloseTo" ng-controller="showdialogs">
       
        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
            <span id="left">left</span>
        </div>

        <div layout="column" layout-align="center start" layout-padding="" flex="">
            <p class="inset">
                A dialog can specify its origin and target with <code>openFrom</code> and
                <code>closeTo</code> properties.

                The options showFrom and closeTo can be specified as a string [where internally
                querySelector( ) is used to perform the DOM element lookup],
                element or an Rect object [with top, left, width, height fields].
            </p>

            <div class="dialog-demo-content" layout="column" layout-align="center center" style="width: 100%">
                <button class="md-primary md-raised edgePadding" ng-click="openFromLeft()">
                    Open From Left - Close To Right
                </button>
                <button class="md-primary md-raised edgePadding" ng-click="openOffscreen()">
                    Open From Top Left - Close Slide Down
                </button>
            </div>

        </div>

        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
            <span id="right">right</span>
        </div>
    </div>
</div>




<!-- /ko-->
