﻿
@{
    ViewBag.Title = "title about";
    Layout = null;
}

@*<html ng-app="DialogsApp" ng-controller="showdialogs">*@
<html>

<head>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/signalr/hubs"></script>
    @*<link href="~/Content/angular-material/angular-material.min.css" rel="stylesheet"/>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-material.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular.js"></script>*@
    @*<script src="~/JS/Angular/AngList.js"></script>*@


    <style type="text/css">
        .container {
            background-color: #99CCFF;
            border: thick solid #808080;
            padding: 20px;
            margin: 20px;
        }
    </style>

    <script type="text/javascript">
        $(function() {
            // Declare a proxy to reference the hub.
            var contosoChatHubProxy = $.connection.studyHub;
            contosoChatHubProxy.client.SendMessege = function(message) {
                console.log(message);
            };
            $.connection.hub.start()
                .done(function() { console.log('Now connected, connection ID=' + $.connection.hub.id); })
                .fail(function() { console.log('Could not Connect!'); });
        });
    </script>
</head>
<body>
    <hr/>
    <div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
    </div>
<br/>
    <hr/>
<style>
        .edgePadding {
            padding-left: 25px;
            padding-right: 25px;
        }
    </style>
    <div ng-controller="showdialogs">
        <input type="button" value="get dialog" class="btn-info" ng-click="openFromLeft()" />
        <button class="md-primary md-raised edgePadding" ng-click="openFromLeft()">
            <span class="ng-scope">
                Open From Top Left - Close Slide Down1
            </span>
        </button>
        <button class="md-primary md-raised edgePadding" ng-click="openOffscreen()">
            <span class="ng-scope">
                Open From Top Left - Close Slide Down2
            </span>
        </button>
    </div>

    <div layout="row" ng-cloak="" style="height: 300px" class="dialogdemoOpenFromCloseTo" ng-controller="showdialogs">

        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
            <span id="left">left</span>
        </div>

        <div layout="column" layout-align="center start" layout-padding="" flex="">
            <p class="inset">
                A dialog can specify its origin and target with <code>openFrom</code> and
                <code>closeTo</code> properties.

                The options showFrom and closeTo can be specified as a string [where internally
                querySelector( ) is used to perform the DOM element lookup],
                element or an Rect object [with top, left, width, height fields].
            </p>

            <div class="dialog-demo-content" layout="column" layout-align="center center" style="width: 100%">
                <button class="md-primary md-raised edgePadding" ng-click="openFromLeft()">
                    Open From Left - Close To Right
                </button>
                <button class="md-primary md-raised edgePadding" ng-click="openOffscreen()">
                    Open From Top Left - Close Slide Down
                </button>
            </div>

        </div>

        <div layout="column" layout-align="center center" style="background-color: #f2f2f2" class="md-padding">
            <span id="right">right</span>
        </div>
    </div>
    </div>
</body>
</html>
